<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <%- include('common/header'); -%> <style>#header {height: 10vh;}</style>
    </div>
      <% if(!user) { %> <h2>Login or Register on the top right ;) </h2> <% } %> 
      <% if(user){ %> 
    
      <p> user id: <%=user.id%></p>
    <form method="POST" action="/addcard">
        <label for="front">Front:</label>
        <input type="text" name="front" id="front"  placeholder="Front of the Card">

        <label for="back">Back:</label>
        <input type="text" name="back" id="back" placeholder="Back of the Card">

        <input type="hidden" name="userId" id="userId" value= <%=user.id%>>
        
        <input type="submit" value="Create">
    </form>
    <% } %>
</body>
</html>
<style>
form {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* change to a transparent black */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    /* Add glassy effect */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)); /* change to a transparent black */
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.2s ease-in-out;
}
form:hover {
    background-position: bottom;
}

/* Label styles */
label {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    display: block;
}

/* Input field styles */
input[type="text"] {
    width: 100%;
    padding: 16px 24px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
    color: white;
    font-size: 1.2rem;
    /* Add glassy effect */
    background-image: linear-gradient(to bottom, #444, #555);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.2s ease-in-out;
}
input[type="text"]:hover {
    background-position: bottom;
}

/* Submit button styles */
input[type="submit"] {
    background-color: #ffa600; /* change to orange color */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    float: right;
    box-shadow: 0px 0px 10px #ccc; /* Add a subtle shadow */
    transition: all 0.2s ease-in-out; 
}

input[type="submit"]:hover {
    background-color: #ff9100; /* change to darker orange color */
    transform: scale(1.1); /* Increase size of button on hover */
    box-shadow: 0px 0px 15px #ccc;
}
</style>