<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>Home Page</title>
</head>
<body>
  <div id="header">
    <%- include('common/header'); -%> <style>#header {height: 10vh;}</style>
  </div>
  <br><br>
  <% if(!user) { %> <h2>Login or Register on the top right ;) </h2> 
    <p>The user is a crucial part of the application, without it, it will not work I am afraid!</p>
    <div class="border2" id="no"> <style>#no{width: 100%;}</style>
      <h3>Why a flash card aplication?</h3>
      <p>Although in this new day and age, intelligence has begun to be measured differently other than memory banking, the underlying concepts are more important to know that remembering each word. This is mostly due to the quick availability of information of all sorts. <strrong>However</strrong>, there are some things you still need to remember from the top of your head, these can include languages, certain numerical equations and quotes or anything that you have no time to look up on your phone. Furthermore, Study shows that retrieval practice is one of the best ways to learn in general.  </p>
    </div>
  <% } else {%> 

  <!--<p> user id: <%=user.id%></p> -->

<div class="mainContainer">
  <div class="border">
    <div class="categoryContainer">
      <h2 class="category">Current Categories:</h2>
      <p>You can categorize your cards, devide them into group if you like. </p>
      
        <select name="categories">
          <% categories.forEach(function(category) { %>
            <option value="<%= category._id %>"><%= category._id %></option>
          <% }); %>
        </select>
      
    </div>
  </div>

  <div class="border2">
    <h3>Why a flash card aplication?</h3>
    <p>Although in this new day and age, intelligence has begun to be measured differently other than memory banking, the underlying concepts are more important to know that remembering each word. This is mostly due to the quick availability of information of all sorts. <strrong>However</strrong>, there are some things you still need to remember from the top of your head, these can include languages, certain numerical equations and quotes or anything that you have no time to look up on your phone. Furthermore, Study shows that retrieval practice is one of the best ways to learn in general.  </p>
  </div>
</div>
<div class="border3">
  <div class="search">
    <p id="searchp">Search among your cards:</p>
    <form action="/search" method="POST">
      <label for="search"></label>
      <input type="text" placeholder="Search" name="search" required>
      <button type="submit">Search</button>
    </form>
  </div>
</div>


<p>Need help?</p>
<button id="show-banner-button">Guide Me</button>
<div id="banner" style="display: none;">
  <button id="close-banner-button">X</button>
  <p id="content">To <strong>create</strong> a card first press on Add a card on the nav bar. The front and the back are mandatory the Category is optional if you would like to later cluster your cards. <br>

    My Cards show <strong>all of your</strong> cards. The card mechanic is simple! By default, it shows the front of each card, and when you click on it, it flips to the backside! To edit or delete the particular card, hover over it and press the appearing button in the right corner. <br>
    
    You can create a card containing a <strong>picture</strong>, by pressing on the Upload Pic. And view it on the <strong>Pic cards</strong>. <br>
    <strong>Categories</strong> are automatically created when adding a card. If the entered category does not exist, the category will be created. By pressing on the particular category, you can see all the cards that belong to that category. <br>
    <strong>Search </strong> works by, you will not believe it, by entering any words you want to find on either the front or the back of any card!
    
  </p>
</div>

  <% } %>
</body>
</html>

<script>
const showBannerButton = document.getElementById("show-banner-button");
const closeBannerButton = document.getElementById("close-banner-button");
const banner = document.getElementById("banner");

showBannerButton.addEventListener("click", function() {
  banner.style.display = "block";
  document.body.classList.add("white-background");
});

closeBannerButton.addEventListener("click", function() {
  banner.style.display = "none";
  document.body.classList.remove("white-background");
});
</script>

